# Set the default behavior, in case people don't have `core.autocrlf` set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.js text eol=lf

# Remove files using `git archive`.
.*                     export-ignore
appveyor.yml           export-ignore
src                    export-ignore
test/download          export-ignore
test/title             export-ignore
tsconfig.json          export-ignore
types/index.test-d.ts  export-ignore
